<header class="bg-gray-200/80 py-4 border-b border-b-slate-400 sticky top-0 backdrop-blur-xs z-5">
  <div class="max-w-7xl mx-auto px-4 flex items-center gap-3">

    <div class="flex items-center">
      <a 
        href="/" 
        class="flex items-center text-xl text-slate-700 active:ring-1 rounded-sm p-1 ">
        <i class="icon-[teenyicons--home-solid]"></i>
      </a>
    </div>

    <div class="flex items-center ms-auto text-xl gap">

      <a href="{{ configs.instagram }}" target="_blank" class="flex items-center hover:opacity-90 active:ring-1 p-1 rounded-sm text-slate-700">
        <i class="icon-[teenyicons--instagram-solid]"></i>
      </a>

      <a href="{{ configs.facebook }}" target="_blank" class="flex items-center hover:opacity-90 active:ring-1 p-1 rounded-sm text-slate-700">
        <i class="icon-[brandico--facebook-rect]"></i>
      </a>

      <a href="{{ configs.linkedin }}" target="_blank" class="flex items-center hover:opacity-90 active:ring-1 p-1 rounded-sm text-slate-700">
        <I class="icon-[fa--linkedin-square]"></I>
      </a>

    </div>

    <div>
      <a href="/blog" class="px-3 py-1 rounded-sm active:ring-1">Bloq</a>
    </div>
    
  </div>
</header>