{% macro portfolioCard(portfolio) %}

{% set link     = portfolio.url or portfolio.data.url or false %}

{% set name     = portfolio.data.name %}
{% set logo     = portfolio.data.logo %}
{% set cover    = portfolio.data.cover %}
{% set github   = portfolio.data.github %}
{% set url_name = portfolio.data.url_name %}


<a 
  href="{{ link or '#' }}" 
  {% if not link %}aria-disabled="true"{% endif %}
  target="{% if link and link == portfolio.data.url %}_blank{% else %}_self{% endif %}"
  class="flex flex-col h-full">

  <header class="flex items-top">
    
    <h2 class="text-lg font-medium">{{ name }}</h2>
    
    {% if logo %}
    <picture class="ms-auto w-10 shrink-0">
      <img src="{{ logo }}">
    </picture>
    {% endif %}

  </header>

  <picture class="aspect-square overflow-hidden mt-auto grayscale-75">
    {% if cover %}
    <img 
      src="{{ cover }}" 
      alt="{{ name }}" 
      class="object-cover w-full h-full">
    {% endif %}
  </picture>

  <footer class="flex flex-wrap items-center gap-2 mt-1">
    
    {% if github %}
    <span class="flex items-center">
      <i class="icon-[bi--github] text-2xl"></i>
    </span> 
    {% endif %}

    {% if url_name %}
    <span  
      class="flex items-center gap-2 border border-slate-500 rounded-sm px-2">
      {{ url_name }}
      {% if portfolio.data.url %}
      <i class="icon-[mynaui--external-link-solid]"></i>
      {% endif %}
    </span>
    {% endif %}

  </footer>

</a>
{% endmacro %} 