---
layout: base.njk
title: Bloq
---
{% from "components/blog_card.njk" import blogCard %}

<h1>Bloq</h1>

<section class="grid grid-cols-12 gap-3">

  {% for post in collections.blog %}
    {{ blogCard(post, wrapperClass='lg:col-span-4 md:col-span-4 sm:col-span-6 col-span-12') }}
  {% endfor %}

</section>