---
layout: base.njk
title: Bloq
description: Bloqum vasitəsilə ən son texnoloji yeniliklərdən xəbərdar ola bilərsiniz
---
{% from "components/blog_card.njk" import blogCard %}

<h1>Bloq</h1>

<section class="grid grid-cols-12 gap-3">

  {% for post in collections.blog | slice(0, 1) %}
    {{ blogCard(post, wrapperClass='lg:col-span-4 md:col-span-4 sm:col-span-6 col-span-12') }}
  {% endfor %}

</section>