---
layout: base.njk
tags: blog
title: Mükəmməlliyyətçi Developer
cover: /assets/img/blog/mukemmelliyyetci_developer.jpg
description: Bu məqalədə sizə bir developer niyə mükəmməlliyyətçi olmamalıdır onu başa salmağa çalışmışam
date: 2024-09-11T15:22:24.276Z
---

<h1>{{ title }}</h1>
