---
tags: portfolio
date: 2008-11-23T19:42:00.123Z
name: Beethoven Zoo Store
title: Beethoven Zoo Store
permalink: false
cover: /assets/img/portfolio/beethoven/cover.svg
logo: /assets/img/portfolio/beethoven_logo.svg
url_name: beethoven.az
url: null
github: null
---