---
date: 2020-12-20T11:42:00.123Z
name: Mozo - Tanışlıq tətbiqetməsi
title: Mozo - Tanışlıq tətbiqetməsi
description: İnsanların bir-biri ilə rahat şəkildə tanış olması üçün yaratdığım proqram
permalink: false
cover: /assets/img/portfolio/mozo/cover.svg
logo: /assets/img/portfolio/mozo/logo.svg
url_name: apkpure.com
url: https://apkpure.com/mozo-yeni-insanlarla-tan%C4%B1%C5%9F-olun/com.guliyevravan.mozo
github: null
technologies: 
  - vue  
  - nodejs
  - socket_io
  - cordova
  - mysql
  - vuetify
  - bootstrap
---
{% extends './../_layouts/portfolio_post.njk' %}

{% block content %}
{{ super() }}
{% endblock %}

{% block scripts %}{% endblock %}
