---
tags: portfolio
date: 2020-12-20T11:42:00.123Z
name: Azərbaycan Respublikası Hesablama Palatası
title: Azərbaycan Respublikası Hesablama Palatası
description: Azərbaycan Respublikası Hesablama Palatasının rəsmi veb səhisənin hazırlanma mərhələsi
permalink: /portfolio/hesablama-palatasi/
cover: /assets/img/portfolio/hesablama-palatasi/cover.svg
logo: /assets/img/portfolio/sai_logo.svg
url_name: sai.gov.az
url: https://sai.gov.az
github: null
technologies: 
  - vue
  - nodejs
  - mysql
  - bootstrap
  #- html
  #- css
  #- tailwind

slider_items: [
    1.png, 2.png, 3.png, 4.png, 5.png, 6.png, 7.png, 8.png, 9.png, 10.png,
    11.png, 12.png, 13.png, 14.png, 15.png, 16.png, 17.png, 18.png, 19.png, 20.png,
  ]
---
{% extends './../_layouts/portfolio_post.njk' %}
{% block content %}
{{ super() }}
<p>
  Bu gün sizə Hesablama Palatasının rəsmi veb səhifəsi haqqında məlumat verəcəm. 
  Hesablama Palatası Milli Məclis tərəfindən yaradılan, Azərbaycanın Ali Audit Qurumudur. 
  Saytın həm <strong>frontend (Vue)</strong> həm də <strong>backend (Nodejs)</strong> hissəsi mənim tərəfimdən hazırlanmışdır
</p>

<div class="grid grid-cols-12">
  <div class="md:col-span-6 col-span-12">
    <div class="flex items-center mb-4 gap-2">
      <i class="icon-[line-md--monitor-twotone]"></i>
      <h2 class="mb-0">Frontend</h2>
    </div>
    <p>
      Sayt tamamilə SPA (Single Page Application) texnologiyasıdır. Saytda bootstrap ilə paralel olaraq bəzi hissələrdə 
      native css də istifadə edilib. 
    </p> 
    <p>İstifadə edilən modullar:</p>
    <ul>
      <li>Vue Router</li>
      <li>Vuex</li>
      <li>Axios</li>
    </ul>
  </div>

  <div class="md:col-span-6 col-span-12">
    <div class="flex items-center mb-4 gap-2 mt-3">
      <i class="icon-[icon-park-twotone--data-server]"></i>
      <h2 class="mb-0">Backend</h2>
    </div>

    <p>
      Backend RestfulAPI arxitekturasını təmin edir. Hər bir Request URL üçün router-lar bölünüb və 
      controller, modellər tətbiq olunub. 
    </p> 
    <p>İstifadə edilən modullar:</p>
    <ul>
      <li>Express</li>
      <li>Nodemailer</li>
      <li>Multer</li>
      <li>Jsonwebtoken</li>
      <li>Bcryptjs</li>
    </ul>
  </div>
</div>

<div class="grid grid-cols-12 mt-3">
  <div class="col-span-12">
    <div class="swiper"> 
      
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper"> 
          
          <!-- Slides -->
          {% for item in slider_items %}
          <a class="swiper-slide aspect-video border border-slate-400 shadow rounded-xl overflow-hidden overflow-y-scroll" data-fslightbox href="/assets/img/portfolio/hesablama-palatasi/10.png">
            <img 
              src="/assets/img/portfolio/hesablama-palatasi/{{ item }}"
              class="object-cover" loading="lazy">
            <div class="swiper-lazy-preloader "></div>
          </a>
          {% endfor %}
        </div>

        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <button class="swiper-custom-prev absolute top-1/2 start-5 z-3 bg-gray-100/90 flex items-center py-4 px-2 rounded-xl border border-slate-400 -translate-y-1/2 active:ring-1">
          <span class="icon-[solar--map-arrow-left-bold-duotone] text-3xl text-slate-700"></span>
        </button>
        <button class="swiper-custom-next absolute top-1/2 end-5 z-3 bg-gray-100/90 flex items-center py-4 px-2 rounded-xl border border-slate-400 -translate-y-1/2 active:ring-1">
          <span class="icon-[solar--map-arrow-right-bold-duotone] text-3xl text-slate-700"></span>
        </button>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
        
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block styles %}
{{ super() }}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="/assets/js/fslightbox.js"></script>
<script>

  
  {# const breakpointNames = ['sm', 'md', 'lg', 'xl', '2xl'];
  const breakpoints = {}; #}

  {# for (const name of breakpointNames) {
    const remValue = parseFloat(getComputedStyle(document.documentElement).getPropertyValue(`--breakpoint-${name}`));
    breakpoints[name] = remValue * 16; // rem to px
  } #}
  
  const swiper = new Swiper('.swiper', {
    // Optional parameters
    direction: 'horizontal',
    loop: true,
    preloadImages: false,
    //autoplay: {
      //delay: 3000,
    //},

    slidesPerView: 1, 
    spaceBetween: 10,
    lazy: true,
      {# lazy: {
      loadPrevNext: true, // Önceki ve sonraki slide'ları da yükle
      loadPrevNextAmount: 1, // Kaç slide öncesi/sonrası yüklenecek
      loadOnTransitionStart: false, // Transition başlangıcında yükle
      elementClass: 'swiper-lazy', // Lazy element class'ı
      loadingClass: 'swiper-lazy-loading', // Yüklenirken eklenecek class
      loadedClass: 'swiper-lazy-loaded', // Yüklendikten sonra eklenecek class
      preloaderClass: 'swiper-lazy-preloader', // Preloader class'ı
    }, #}

    {# breakpoints: {
      [breakpoints.sm]: { slidesPerView: 2, spaceBetween: 10 },
      [breakpoints.md]: { slidesPerView: 3, spaceBetween: 10 },
      [breakpoints.lg]: { slidesPerView: 4, spaceBetween: 10 },
      [breakpoints.xl]: { slidesPerView: 5, spaceBetween: 10 },
      [breakpoints['2xl']]: { slidesPerView: 1, spaceBetween: 10 }
    }, #}

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },

    // Navigation arrows
    navigation: { 
      nextEl: '.swiper-custom-next',
      prevEl: '.swiper-custom-prev',
    },

    // And if we need scrollbar
    scrollbar: {
      el: '.swiper-scrollbar',
    },
  });

</script>
{% endblock %}