---
tags: portfolio
date: 2020-12-20T11:42:00.123Z
name: Azərbaycan Respublikası Hesablama Palatası
title: Azərbaycan Respublikası Hesablama Palatası
description: Azərbaycan Respublikası Hesablama Palatasının rəsmi veb səhisənin hazırlanma mərhələsi
permalink: /portfolio/hesablama-palatasi/
cover: /assets/img/portfolio/hesablama-palatasi/cover.svg
logo: /assets/img/portfolio/hesablama-palatasi/sai_logo.svg
url_name: sai.gov.az
url: https://sai.gov.az
github: null
technologies: 
  - vue
  - nodejs
  - mysql
  - bootstrap

slider_items: [
    1.png, 2.png, 3.png, 4.png, 5.png, 6.png, 7.png, 8.png, 9.png, 10.png,
    11.png, 12.png, 13.png, 14.png, 15.png, 16.png, 17.png, 18.png, 19.png, 20.png,
  ]
---
{% extends './../_layouts/portfolio_post.njk' %}
{% block content %}
{{ super() }}
<p>
  Bu gün sizə Hesablama Palatasının rəsmi veb səhifəsi haqqında məlumat verəcəm. 
  Hesablama Palatası Milli Məclis tərəfindən yaradılan, Azərbaycanın Ali Audit Qurumudur. 
  Saytın həm <strong>frontend (Vue)</strong> həm də <strong>backend (Nodejs)</strong> hissəsi mənim tərəfimdən hazırlanmışdır
</p>

<div class="grid grid-cols-12 my-4">
  <div class="col-span-12">
    <div class="swiper"> 

        <span class="swiper-fullscreen"></span>

        <!-- Additional required wrapper -->
        <div class="swiper-wrapper"> 
           
          <!-- Slides -->
          {% for item in slider_items %}
          <picture 
            class="swiper-slide aspect-16/7 border border-slate-700 shadow-2xl rounded-xl overflow-hidden overflow-y-scroll" 
            href="/assets/img/portfolio/hesablama-palatasi/{{ item }}">
            <img 
              src="/assets/img/portfolio/hesablama-palatasi/{{ item }}"
              class="object-cover" loading="lazy">
            <div class="swiper-lazy-preloader "></div>
          </picture>
          {% endfor %}
        </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-pagination"></div>
        <div class="swiper-scrollbar"></div>
        
      </div>
    </div>
  </div>
</div>

<div class="grid grid-cols-12">
  <div class="md:col-span-6 col-span-12">
    <div class="flex items-center mb-4 gap-2">
      <i class="icon-[line-md--monitor-twotone]"></i>
      <h2 class="mb-0">Frontend</h2>
    </div>
    <p>
      Sayt tamamilə SPA (Single Page Application) texnologiyasıdır. Saytda bootstrap ilə paralel olaraq bəzi hissələrdə 
      native css də istifadə edilib. 
    </p> 
    <p>İstifadə edilən modullar:</p>
    <ul>
      <li>Vue Router</li>
      <li>Vuex</li>
      <li>Axios</li>
    </ul>
  </div>

  <div class="md:col-span-6 col-span-12">
    <div class="flex items-center mb-4 gap-2 mt-3">
      <i class="icon-[icon-park-twotone--data-server]"></i>
      <h2 class="mb-0">Backend</h2>
    </div>

    <p>
      Backend RestfulAPI arxitekturasını təmin edir. Hər bir Request URL üçün router-lar bölünüb və 
      controller, modellər tətbiq olunub. 
    </p> 
    <p>İstifadə edilən modullar:</p>
    <ul>
      <li>Express</li>
      <li>Nodemailer</li>
      <li>Multer</li>
      <li>Jsonwebtoken</li>
      <li>Bcryptjs</li>
    </ul>
  </div>
</div>

{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="/assets/js/swiper-fullscreen.js"></script>
<script>

  const swiper    = new Swiper('.swiper', {
    direction: 'horizontal',
    loop: true,
    preloadImages: false,
    slidesPerView: 1, 
    spaceBetween: 10,
    lazy: true,
    keyboard: {
        enabled: true,
        onlyInViewport: true, 
        pageUpDown: true, 
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: { 
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    scrollbar: {
      el: '.swiper-scrollbar',
    },
  });

</script>
{% endblock %}