---
layout: portfolio_post.njk
tags: portfolio
name: Azərbaycan Respublikası Hesablama Palatası
title: Azərbaycan Respublikası Hesablama Palatası
permalink: /portfolio/hesablama-palatasi/
cover: /assets/img/portfolio/hesablama_palatasi.svg
logo: /assets/img/portfolio/sai_logo.svg
url_name: sai.gov.az
url: https://sai.gov.az
github: 'https://github.com'
technologies: 
  - vue
  - nodejs
  - mysql
  - bootstrap
  - html
  - css
  - tailwind
---