@import "tailwindcss";

@theme {
  --breakpoint-xs: 25rem;
}

@layer base {

  :root {
    --breakpoint-sm: theme(screens.sm);
    --breakpoint-md: theme(screens.md);
    --breakpoint-lg: theme(screens.lg);
    --breakpoint-xl: theme(screens.xl);
    --breakpoint-2xl: theme(screens.2xl);
  }

  body {
    @apply bg-white; 
  }

  h1 {
    @apply min-sm:text-4xl text-2xl font-extrabold mb-4;
  }

  h2 {
    @apply min-sm:text-3xl text-xl font-extrabold mb-4;
  }

  h3 {
    @apply min-sm:text-2xl text-xl font-extrabold mb-3;
  }

  p {
    @apply mb-3;
  }

  ul {
    @apply list-disc list-inside;
  }
  
}

@import "./swiper.css";

@plugin "@iconify/tailwind4" {
 prefixes: mdi-light, vscode-icons, mynaui;
} 